.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.container {
  width: 200px;
  height: 200px;
  background-color: rgb(31, 32, 35);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container:hover {
    cursor: pointer;
    scale: 1.1;
}